*.suo
OGL_CodigoBase.sln
*.obj
*.obj
*.tlog
*.log
OGL_CodigoBase.opensdf
*.sdf
OGL_CodigoBase.vcxproj
*.htm
UpgradeLog.XML
*.css
_UpgradeReport_Files/UpgradeReport.xslt

Debug/OGL_CodigoBase.lastbuildstate
*.lastbuildstate
*.pdb
Debug/vc110.pdb
*.obj
