*.suo
OGL_CodigoBase.sln
*.obj
Debug/3ds.obj
*.obj
*.tlog
Debug/Main.obj
*.log
Debug/vc110.idb
Debug/OGL_CodigoBase.pdb
OGL_CodigoBase.opensdf
*.sdf
OGL_CodigoBase.vcxproj
*.htm
UpgradeLog.XML
*.css
_UpgradeReport_Files/UpgradeReport.xslt
*.png